@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html[data-theme='light'] {
		--color-transparent: #00000000;
		--color-overlay: #00000077;

		--color-base-0: #ffffff;
		--color-base-1: #f9fafb;
		--color-base-2: #e5e7eb;
		--color-base-3: #d1d5db;
		--color-placeholder: #9ca3af;
		--color-content: #0f172a;
		--color-link: #2563eb;

		--color-toolbar: #1f2937;
		--color-toolbar-focus: #475569;
		--color-toolbar-content: #e5e7eb;

		--color-primary: #2563eb;
		--color-primary-focus: #3b82f6;
		--color-primary-content: #ffffff;

		--color-error: #fef2f2;
		--color-error-outline: #f87171;
		--color-error-content: #ef4444;

		--color-success: #f0fdf4;
		--color-success-outline: #4ade80;
		--color-success-content: #22c55e;
	}

	html[data-theme='dark'] {
		--color-transparent: #00000000;
		--color-overlay: #00000077;

		--color-base-0: #111827;
		--color-base-1: #374151;
		--color-base-2: #4b5563;
		--color-base-3: #6b7280;
		--color-placeholder: #6b7280;
		--color-content: #e5e7eb;
		--color-link: #60a5fa;

		--color-toolbar: #1f2937;
		--color-toolbar-focus: #475569;
		--color-toolbar-content: #e5e7eb;

		--color-primary: #2563eb;
		--color-primary-focus: #3b82f6;
		--color-primary-content: #ffffff;

		--color-error: #7f1d1d;
		--color-error-outline: #dc2626;
		--color-error-content: #f87171;

		--color-success: #064e3b;
		--color-success-outline: #059669;
		--color-success-content: #34d399;
	}
}
